div[mainFormDiv] {
  overflow: auto;
}
[id*='root-form'],
[id*='root-form-*'] {
  width: auto;
  background-color: aliceblue;
  padding: 20px 10px;
  filter: drop-shadow(5px 5px 10px #000);
}

label,
input {
  margin: 5px 0;
}

form {
  display: flex;
  flex-direction: column;
}
