@import 'form.css';
@import 'table.css';

/* Form JS main styles */
.background {
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  display: flex;
  flex-direction: column;
}
