[id*='root-table'], [id*='root-table-*']{
  width: 90%;
  margin: 50px auto;
  background-color: aliceblue;
  padding: 10px 10px;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 10px #000);
}
td {
    border: 1px solid black;
    text-align: center;
    padding: 0 5px;
}

table {
  border-collapse: unset;
  border-spacing: 2px;
}